@model BookStore.Web.Models.PagingInfo 

@{
    ViewBag.Title = "Books";
}

<div class="col-sm-3">
    @Html.Action("Menu", "Nav")
</div>


<div class="col-sm-8">
    @foreach (var book in Model.Books)
    {
        @Html.Partial("BookInfo", book)
    }

    @Html.PageLinks(Model.CurPage, Model.TotalPages, x => Url.Action("List", new { page = x, category = Model.CurCategory }))
</div>


